.livestream {
  flex: 1;
  width: 100%;
  padding-top: calc(var(--aspect-ratio-standard) + 32px); // 32px for bitwaves logo below the player
  position: relative;
  border-radius: var(--border-radius);

  iframe {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.livestream__comments {
  height: calc(100vh - var(--header-height) - (var(--spacing-xl) * 7)) !important;
  overflow: scroll;
  display: flex;
  flex-direction: column-reverse;
  font-size: var(--font-small);
}

.livestream__comment {
  margin-top: var(--spacing-s);
}

.livestream__comment-meta {
  color: var(--color-text-help);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;

  :first-child {
    margin-right: var(--spacing-xs);
  }
}

.livestream__comment-author {
  font-weight: var(--font-weight-bold);
}

.livestream__comment-create {
  margin-top: var(--spacing-s);
}

.livestream__channel-link {
  margin-bottom: var(--spacing-xl);
  //   box-shadow: 0 0 2px 5px var(--color-primary);
  box-shadow: 0 0 0 rgba(246, 72, 83, 0.4);
  animation: livePulse 2s infinite;
}

@keyframes livePulse {
  0% {
    box-shadow: 0 0 0 0 rgba(246, 72, 83, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(246, 72, 83, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(246, 72, 83, 0);
  }
}

.livestream__publish-checkbox {
  background-color: #fde68a;
  padding: var(--spacing-m);
  color: black;
  border-radius: var(--border-radius);
  margin: var(--spacing-xl) 0;

  .checkbox {
    margin-top: var(--spacing-m);

    label {
      color: #555;
    }
  }
}
